{% extends 'base.html.twig' %}

{% block title %}Edit account{% endblock %}

{% block body %}
    <h1>Edit account:</h1>
    {{ form_start(accountForm) }}
    {{ form_widget(accountForm) }}
    <button type="submit">Save changes</button>
    {{ form_end(accountForm) }}
{% endblock %}
 