{% extends 'base.html.twig' %}

{% block title %}Edit dept{% endblock %}

{% block body %}
    <h1>Edit dept:</h1>
    {{ form_start(operationForm) }}
        {% include('operation/_form_dept.html.twig') %}
        <button type="submit">Save changes</button>
    {{ form_end(operationForm, {'render_rest': false}) }}
{% endblock %}
