{% extends 'base.html.twig' %}

{% block title %}Edit transfer{% endblock %}

{% block body %}
    <h1>Edit transfer:</h1>
    {{ form_start(operationForm) }}
        {% include('operation/_form_transfer.html.twig') %}
        <button type="submit">Save changes</button>
    {{ form_end(operationForm, {'render_rest': false}) }}
{% endblock %}
