{% extends 'base.html.twig' %}

{% block title %}New expense{% endblock %}

{% block body %}
    <h1>Create new expense:</h1>
    {{ form_start(operationForm) }}
        {% include('operation/_form_expense.html.twig') %}
        <button type="submit">Save new expense operation</button>
    {{ form_end(operationForm, {'render_rest': false}) }}
{% endblock %}
