{% extends 'base.html.twig' %}

{% block title %}New loan{% endblock %}

{% block body %}
    <h1>Create new loan:</h1>
    {{ form_start(operationForm) }}
        {% include('operation/_form_loan.html.twig') %}
        <button type="submit">Save new loan operation</button>
    {{ form_end(operationForm, {'render_rest': false}) }}
{% endblock %}
