{% extends 'base.html.twig' %}

{% block title %}New repayment{% endblock %}

{% block body %}
    <h1>Create new repayment:</h1>
    {% include('operation/_form_repayment.html.twig') %}
{% endblock %}
