{% extends 'base.html.twig' %}

{% block title %}New dept collection{% endblock %}

{% block body %}
    <h1>Create new dept collection:</h1>
    {% include('operation/_form_dept-collection.html.twig') %}
{% endblock %}
