{% extends 'base.html.twig' %}

{% block title %}New dept collection{% endblock %}

{% block body %}
    <h1>Create new dept collection:</h1>
    {{ form_start(operationForm) }}
        {% include('operation/_form_dept-collection.html.twig') %}
        <button type="submit">Save new dept collection operation</button>
    {{ form_end(operationForm, {'render_rest': false}) }}
{% endblock %}
