{% extends 'base.html.twig' %}

{% block title %}New debt collection{% endblock %}

{% block body %}
    <h1>Create new debt collection:</h1>
    {% include('operation/_form_debt-collection.html.twig') %}
{% endblock %}
