{% extends 'base.html.twig' %}

{% block title %}Balance details{% endblock %}

{% block body %}
    {% for accountBalance in accountBalances %}
        <p>{{ accountBalance.account }}: {{ accountBalance.value|currency }}</p>
    {% endfor %}

    <p>
        <strong>Total: {{ (total-fundBalance)|currency }}
            {% if fundBalance != 0 %}
                <span> (+{{ fundBalance|currency }} OPM)</span>
            {% endif %}
        </strong>
    </p>
{% endblock %}
