{% extends 'base.html.twig' %}

{% block title %}Category list{% endblock %}

{% block body %}
    <div style="float: right">
        <a href="{{ path('category_new', {'operationName': 'income'}) }}">Add income category</a>
        <a href="{{ path('category_new', {'operationName': 'expense'}) }}">Add expense category</a>
    </div>
    <h1>Income category list:</h1>
    {% include 'category/_category_list.html.twig' with {'categories': incomeCategories} %}
    <h1>Expense category list:</h1>
    {% include 'category/_category_list.html.twig' with {'categories': expenseCategories} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags('category') }}
{% endblock %}
