{% extends 'base.html.twig' %}

{% block title %}New category{% endblock %}

{% block body %}
    <h1>Create new {{ operationName }} category:</h1>
    {{ form_start(categoryForm) }}
        {{ form_widget(categoryForm) }}
        <button type="submit">Save new category</button>
    {{ form_end(categoryForm) }}
{% endblock %}
