<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% if app.user is null %}
            <a href="{{ path('app_login') }}">Login</a>/<a href="{{ path('app_register') }}">Register</a>
        {% else %}
            {{ app.user.username }}/<a href="{{ path('app_logout') }}">Logout</a>
        {% endif %}
        <hr>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
