{% extends 'base.html.twig' %}

{% block title %}New tag{% endblock %}

{% block body %}
    <h1>Create new tag:</h1>
    {{ form_start(tagForm) }}
        {{ form_widget(tagForm) }}
        <button type="submit">Save new tag</button>
    {{ form_end(tagForm) }}
{% endblock %}
